

.navbar{
    background-color: #000;
}
.navbar .nav-item{
    margin-left: 1em;
}
.navbar .nav-link{
    text-transform: uppercase;
}  


/* Carousel Section */
.carousel-item{
    height: 450px;
}
.carousel-img-1{
    background: url(../img/image1.jpeg);
    background-size: cover;
}
.carousel-img-2{
    background: url(../img/image2.jpeg);
    background-size: cover;
}
.carousel-img-3{
    background: url(../img/image3.jpeg);
    background-size: cover;
}

/* homeicons */
#homeicons .fa{
    font-size: 50px ;
}

/* Start Get Started */
#get-started{
    background: url(../img/pc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    background-attachment: fixed;
    position: relative;
}
#get-started .dark-overlay{
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Home Vedio Seciton */
#home-section{
    background: url(../img/image5.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    background-attachment: fixed;
    position: relative;
}
#home-section .dark-overlay{
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#home-section .fas{
    font-size: 50px;
    color: #ff4444;
}
/* photo-gallery */
#photo-gallery img{
    min-height: 250px;
}
/* copy-right */
#copy-right{
    background: black;
}


/* Page Header */
#page-header{
    background: url(img/image3.jpeg) no-repeat center;
    background-size: cover ;
}


/* What We Do Section */
#about-info img{
    width: 350px;
    height: 350px;
}
/* Icon Boxes */
#icon-boxes .fa{
    font-size: 50px;
    margin-bottom: 20px;
}



/* Services page header */
#services-page-header{
    background: url(img/image1.jpeg) no-repeat center;
    background-size: cover ;
}

/* <!-- Blog page header --> */
#blog-page-header{
    background: url(img/image2.jpeg) no-repeat center;
    background-size: cover ;
}

/* conatact page header */
#contact-page-header{
    background: url(img/image3.jpeg) no-repeat center;
    background-size: cover ;
}













@media (max-width:767px) {
   .nav-item{
        margin-left: 0 ;
    }
    #get-started{
        min-height: 300px;
    }
}
@media (max-width:575px) {
   
    #get-started{
        min-height: 350px;
    }
}